<ul class="list-inline text-center">
  <% data.members.each do |member, infos| %>
    <li>
      <%= image_tag infos.picture, class: "img-circle" %>
      <h3><%= member.capitalize %></h3>
    </li>
  <% end %>
</ul>
